.login-form {
  position: relative;
  top: 200px;
}

.home-div {
  text-align: center;
  position: relative;
  top: 200px;
}

.home-btn {
  margin-top: 25px;
}

.signup-form {
  position: relative;
  top: 75px;
}

.detail-header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 10px 0;
}

.detail-info {
  display: grid;
  justify-items: center;
}

.detail-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail-details h3 {
  padding: 10px;
}

.detail-img {
  width: 80vw;
}

.review-form {
  position: relative;
  top: 40px;
}

.form-check {
  padding-right: 50px;
}

.review-rating {
  font-weight: 400;
  font-size: 17px;
}

.review-text {
  padding-top: 40px;
}

.detail-reviews {
  padding-top: 30px;
}

.review-card {
  margin-bottom: 10px;
}

.dashboard {
  padding-top: 20px;
}

.navbar-link {
  padding: 0 20px 0 20px;
}

.edit-review-del {
  margin-left: 20px;
}

.col-md-4 {
  background-size: 100% 100%;
}

.add-business {
  padding: 10px 0 30px 0;
}

@media(min-width: 769px) {
  .detail-info {
    grid-template-columns: repeat(2, 1fr);
  }

  .detail-details h3 {
    padding: 30px;
  }

  .detail-img {
    width: 30vw;
  }

  .dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}